body {
    font-family: Arial;
    margin: 25px;
}

textarea {
    width: 300px;
    height: 120px;
    padding: 10px;
    font-size: 16px;
}

#counter {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
.green {
    color: green;
}
.orange {
    color: orange;
}

.red {
    color: red;
}
